In [1]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('jobs.csv')
df['Date'] = pd.to_datetime(df['Month'] + ' ' + df['Year'].astype(str))
df = df.sort_values(by='Date').set_index('Date')
df[:5]

            Year Month   jobs
Date
1939-01-01  1939   Jan  912.0
1939-02-01  1939   Feb  925.0
1939-03-01  1939   Mar  929.0
1939-04-01  1939   Apr  933.0
1939-05-01  1939   May  941.0

### Plot the year-over-year (YoY) change in jobs

The YoY change for Jan-1940 is the (jobs['Jan 1940'] - jobs['Jan 1939'])*100.0 / jobs['Jan 1939']

### Find the months where the YoY change flipped from below 10% to above 10%.

If August-1940 had Yoy=9.2% and September-1940 had YoY=10.5%, we will say that September-1940 was the month where YoY flipped up (we call these the "flip-up" months).

Similarly find the "flip-down" months.

### Find the periods (in number of days) where YoY remained above 10%.

For example, the first up-month is September-1940, and the corresponding down-month is November-1943. This corresponds to 1156 days. The second such period has 821 days, etc. Print out the number of days in each of the periods where YoY was above 10%.

* Build a DataFrame of up-months and down-months, so that the up-month and down-month for each period are aligned.
    * For example, the first row could be "1940-09-01" and "1943-11-01" (both as datetime objects)
* Now find the number of days in the difference between these two
    * If you just do a difference between datetime columns, it will give you the number of days.