In [1]:
from pandas import Series, DataFrame
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('jobs.csv')
df[:5]

   Year Month    jobs
0  1939   Jan   912.0
1  1940   Jan   980.0
2  1941   Jan  1201.0
3  1942   Jan  1756.0
4  1943   Jan  2956.0

### Convert this data into a time series

* First, convert the Year to a string
    * df['Year'] = df['Year'].astype(str)
* Then, create a column called "DateString" of the form "Jan 2011" (i.e., Month followed by Year, with a space in between)
* Convert this to the Pandas datetime format and save it in a column called "Date"
    * See pd.to_datetime(df['DateString'])
* Sort the DataFrame so that the dates are in increasing order, and then set Date as the index.

### Plot the jobs numbers as a time series

Also plot the 1-year and 5-year moving averages.
Label these appropriately in a legend.

### Deviations from moving average

Find the dates where the jobs number was at least 500 more than the 1-year moving average

### Another kind of deviation

Find the dates where the jobs number was at least 500 more than the jobs number 1 year earlier **and** at least 500 more than the number 1 year later.