# Importing the necessary libraries

In [1]:
import re
import pandas as pd

# Reading the file

In [1]:
filename = "FloridaVoters.html"
with open(filename,"r") as f:  #Opening the file in read mode
    content = f.readlines()
    f.close()                  #Closing the file
print("Number of Lines:", len(content))

Number of Lines: 1396

# Extracting the table contents and cleaning them

In [82]:
list_rows = []
for row in content:
    cell = re.match('<td>|<th>',row)                       #Match the table headers and the table values
    if cell is not None:
        row1 = re.sub("<td>|<th>|</td>|</th>|\n|,","",row) #Removing the unnecessary tags
        list_rows.append(row1)                             #Appending all the rows into a list

# Creating List of Tuples

In [83]:
merged_list = [(list_rows[i], list_rows[i+1],list_rows[i+2],list_rows[i+3],list_rows[i+4],list_rows[i+5]) 
               for i in range(0, len(list_rows)-5,6)]

# Creating DataFrame and Sorting

In [99]:
df = pd.DataFrame(merged_list) #Converting to a dataframe
#Promoting Header
header_row = 0
df.columns = df.iloc[header_row]
df = df.drop(header_row)
#Sorting the Dataframe
df_final = df.sort_values(by = ['DEMOCRAT'])

# Final Dataframe

In [100]:
df_final

0     COUNTY REPUBLICAN DEMOCRAT  MINOR    NONE   TOTAL
66    WALTON      25609    10013    842    8150   44614
36      LEON      54554   103140   4305   30416  192415
51     PASCO     125305   104324  14943   77546  322118
61  SUWANNEE      10745    11126   1019    2959   25849
35       LEE     180718   114633  10921  108675  414947
..       ...        ...      ...    ...     ...     ...
25    HENDRY       5862     7999    273    2742   16876
65   WAKULLA       7374     8889    560    2681   19504
56  SARASOTA     125872    89711   9144   66483  291210
57  SEMINOLE     107833    91686   7005   67125  273649
37      LEVY      11665     9509   1307    3518   25999

[68 rows x 6 columns]