In [1]:
from pandas import Series, DataFrame
import pandas as pd

### Read in the cars.csv file, and print the first row

In [2]:
df = pd.read_csv('cars.csv')
df.iloc[0]

type     AMC Ambassador Brougham
mpg                         13.0
cyl                            8
disp                       360.0
hp                         175.0
wt                          3821
speed                       11.0
wt.1                          73
Name: 0, dtype: object

### Create a column named _kpl_ that contains the mileage of each car, in kilometers per liter.

You already have miles-per-gallon (mpg). 1 mile = 1.609 kilometers, and 1 gallon = 3.785 liters.

In [3]:
df['kpl'] = df['mpg'] * 1.609 / 3.785
df.iloc[0]

type     AMC Ambassador Brougham
mpg                         13.0
cyl                            8
disp                       360.0
hp                         175.0
wt                          3821
speed                       11.0
wt.1                          73
kpl                     5.526288
Name: 0, dtype: object

### Add a new column called *disp_per_cyl* to the dataframe.

The values of this column should be the displacement (*disp*) per cylinder (*cyl*) for each car.

In [4]:
df['disp_per_cyl'] = df['disp'] / df['cyl']
df.iloc[:5]

,type,mpg,cyl,disp,hp,wt,speed,wt.1,kpl,disp_per_cyl
0,AMC Ambassador Brougham,13.0,8,360.0,175.0,3821,11.0,73,5.526288,45.000000
1,AMC Ambassador DPL,15.0,8,390.0,190.0,3850,8.5,70,6.376486,48.750000
2,AMC Ambassador SST,17.0,8,304.0,150.0,3672,11.5,72,7.226684,38.000000
3,AMC Concord DL 6,20.2,6,232.0,90.0,3265,18.2,79,8.587001,38.666667
4,AMC Concord DL,18.1,6,258.0,120.0,3410,15.1,78,7.694293,43.000000

### Print the names of the 5 fastest cars.

In [5]:
df.sort_values(by='speed', ascending=False)['type'].iloc[:5]

285                   Peugeot 504
386             Volkswagen Pickup
380    Volkswagen Dasher (Diesel)
399             Volkswagen Type 3
72             Chevrolet Chevette
Name: type, dtype: object

### Find the fraction of cars that have 8 cylinders

*Hint:* Use the len() function to get the number of rows of a DataFrame

In [6]:
len(df[df['cyl'] == 8]) / len(df)

0.2660098522167488

### Which cars are just way too heavy?

Suppose the average weight of all cars is m, and the standard deviation of weights is s.
A car is too heavy if its weight is greater than m + 2*s.

*Hint:* Look at the mean() and std() methods of Series.

In [7]:
df[df['wt'] > df['wt'].mean() + 2*df['wt'].std()]

,type,mpg,cyl,disp,hp,wt,speed,wt.1,kpl,disp_per_cyl
40,Buick Century Luxus (Wagon),13.0,8,350.0,150.0,4699,14.5,74,5.526288,43.750
44,Buick Electra 225 Custom,12.0,8,455.0,225.0,4951,11.0,73,5.101189,56.875
80,Chevrolet Impala,11.0,8,400.0,150.0,4997,14.0,73,4.676090,50.000
109,Chrysler New Yorker Brougham,13.0,8,440.0,215.0,4735,11.0,73,5.526288,55.000
158,Dodge Monaco (Wagon),12.0,8,383.0,180.0,4955,11.5,71,5.101189,47.875
172,Ford Country Squire (Wagon),13.0,8,400.0,170.0,4746,12.0,71,5.526288,50.000
174,Ford Country,12.0,8,400.0,167.0,4906,12.5,73,5.101189,50.000
225,Hi 1200D,9.0,8,304.0,193.0,4732,18.5,70,3.825892,38.000
259,Mercury Marquis Brougham,12.0,8,429.0,198.0,4952,11.5,73,5.101189,53.625
333,Pontiac Safari (Wagon),13.0,8,400.0,175.0,5140,12.0,71,5.526288,50.000